<h2>Estas son las Camaras Fotograficas</h2>

<h4> Pipe mas chido </h4>
<tr>
   <td>nobre</td>
   <td>metodo</td>
   <td>resultado</td>
</tr>
<tr>
   <td>{{nombre}}</td>
   <td><button (click)="mostrar">motrar/ocultar</button></td>
   <td>{{nombre | changes}}</td>
</tr>

<div *ngFor= "let product of ArrayProductos">
 <div> 
  <div class="card" style="width: 18rem;" >
       <img src="{{product.img}}" class="card-img-top" alt="...">
    <div class="card-body">
       <p class="card-text">{{product.brand}} {{product.model}} {{product.description}}</p>
       <p>{{product.rating}} {{product.department}}</p>
       <p>Precio: ${{product.price}} </p>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active boton">
          <input type="checkbox" checked> Agregar
        </label>
    </div>
   </div>
  </div> 
 </div>
</div> 

<!-- 
*ngIf="product.rating == true"
*ngIf="product.department == Fotografía" -->