<div class="card" style="width: 18rem;" *ngFor= "let product of ArrayProductos">
    <img src="{{product.img}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">{{product.brand}} {{product.model}} {{product.description}}</p>
      <p>{{product.rating}} {{product.department}}</p>
      <p>Precio: ${{product.price}} </p>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active boton">
          <input type="checkbox" checked> Agregar
        </label>
      </div>
    </div>
  </div>

<!-- <div class="card-group" >
    <div class="card">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
</div> -->