<h2>Estos son los celulares</h2>
<div *ngFor= "let product of ArrayProductos">
 <div *ngIf="product.rating == true"> 
  <div class="card" style="width: 18rem;" *ngIf="product.department == SmartPhones">
       <img src="{{product.img}}" class="card-img-top" alt="...">
    <div class="card-body">
       <p class="card-text">{{product.brand}} {{product.model}} {{product.description}}</p>
       <p>{{product.rating}} {{product.department}}</p>
       <p>Precio: ${{product.price}} </p>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active boton">
          <input type="checkbox" checked> Agregar
        </label>
    </div>
   </div>
  </div>
 </div>
</div>